@import "abstracts/variables";

$eu-acmplt-primary: $primary;
$eu-acmplt-secondary: $secondary;
$eu-acmplt-grey: $color-grey;
$eu-acmplt-medium-grey: $color-medium-grey;
$eu-acmplt-dark-grey: $color-dark-grey;
$eu-acmplt-white: $color-white;
$eu-acmplt-red: $element-color-red;
$eu-acmplt-medium-black: $color-medium-black;
$eu-acmplt-light-black: $color-light-black;
$eu-acmplt-swamp: $color-swamp;
$eu-acmplt-light-primary: $light-primary;
$eu-acmplt-color-red: $element-color-red;

:host {
    display: block;
}

.eu-acmplt-dropdown {
    padding-right: 10px;
}

.eu-acmplt-container {
    position: relative;
    box-sizing: border-box;
}

.eu-acmplt-options-container {
    color: $eu-acmplt-white;
    width: 100%;
    background-color: $eu-acmplt-light-black;
    position: absolute;
    top: 55px;
    border-radius: 8px;
    z-index: 1000;
    box-sizing: border-box;
    padding: 10px;
    transition: opacity .2s ease, visibility .2s ease;
}
.eu-acmplt-scroll-wrapper {
    max-height: 320px;
    overflow-y: scroll;
    padding: 10px 0px;
}
.eu-acmplt-hidden {
    visibility: hidden;
    opacity: 0;
}
.eu-acmplt-option {
    min-height: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    transition: background-color 0.2s ease;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.eu-acmplt-option:hover {
    background-color: $eu-acmplt-secondary;
}

.eu-acmplt-scroll-wrapper::-webkit-scrollbar-track
{
    background-color: transparent;
}

.eu-acmplt-scroll-wrapper::-webkit-scrollbar
{
    width: 3px;
    background-color: transparent;
}

.eu-acmplt-scroll-wrapper::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: $eu-acmplt-dark-grey;
}

.eu-acmplt-error {
    color: $eu-acmplt-color-red;
    font-size: 14px;
    margin-top: 10px;
  }
  