<div class="eu-acmplt-container" [ngStyle]="inputAutocmpltStyle">
  <eu-input [label]="label" (inputFocus)="onFocus()" [(ngModel)]="ngInputValue" (click)="$event.stopPropagation()"
    minHeight="50" [placeHolder]="placeHolder" [prefixIcon]="prefixIcon" [suffixIcon]="suffixIcon" [clearable]="clearable"></eu-input>
  <div *ngIf="showDropdown" class="eu-acmplt-options-container" [ngClass]="optionsClass">
    <div class="eu-acmplt-scroll-wrapper">
      <div *ngFor="let item of myItems" class="eu-acmplt-option" (click)="choose(item)">
        <span class="eu-acmplt-option-text">{{getDisplayName(item)}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="showError" class="eu-acmplt-error">{{errors[0]}}</div>
</div>
