<div class="eu-slider-container" [ngStyle]="containerStyle" [ngClass]="containerClass">
    <div class="eu-slider-bars-container">
        <div class="eu-slider-input-bar"></div>
        <div class="eu-slider-fill-bar" [ngStyle]="slideBarStyle"></div>
        <div class="eu-slider-tooltip-value" [ngStyle]="tooltipStyle"><span>{{valuePrefix}}{{ngValue}}{{valueSuffix}}</span></div>
    </div>
    <input class="eu-slider-input" type="range" [step]="step" [(ngModel)]="ngValue" [min]="min" [max]="max" (ngModelChange)="change($event)" />
    <div class="eu-slider-values">
        <div class="eu-slider-min-value">{{valuePrefix}}{{min}}{{valueSuffix}}</div>
        <div class="eu-slider-max-value">{{valuePrefix}}{{max}}{{valueSuffix}}</div>
    </div>
    <div *ngIf="showError" class="eu-slider-error">{{errors[0]}}</div>
</div>
