$eu-icons-font-family: "eu-icons" !default;
$eu-icons-font-path: "/assets/fonts/eu-icons" !default;

$eu-icon-not-verify-path1: "\e900";
$eu-icon-not-verify-path2: "\e901";
$eu-icon-not-verify-white-path1: "\e902";
$eu-icon-not-verify-white-path2: "\e903";
$eu-icon-verify-success-path1: "\e904";
$eu-icon-verify-success-path2: "\e905";
$eu-icon-monitor: "\e906";
$eu-icon-armchair: "\e907";
$eu-icon-arrow-left: "\e908";
$eu-icon-arrow-right: "\e909";
$eu-icon-blackjack: "\e90a";
$eu-icon-bonus: "\e90b";
$eu-icon-bonus-game: "\e90c";
$eu-icon-by-bonus: "\e90d";
$eu-icon-casino: "\e90e";
$eu-icon-cross: "\e90f";
$eu-icon-fast-deposit: "\e910";
$eu-icon-four-game: "\e911";
$eu-icon-full-creen: "\e912";
$eu-icon-full-view: "\e913";
$eu-icon-history: "\e914";
$eu-icon-jackpot: "\e915";
$eu-icon-like: "\e916";
$eu-icon-like-heart: "\e917";
$eu-icon-like-heart-outline: "\e918";
$eu-icon-log-out: "\e919";
$eu-icon-messenger: "\e91a";
$eu-icon-messenger-writing: "\e91b";
$eu-icon-new: "\e91c";
$eu-icon-new-window: "\e91d";
$eu-icon-notification: "\e91e";
$eu-icon-one-game: "\e91f";
$eu-icon-phone: "\e920";
$eu-icon-promo: "\e921";
$eu-icon-refresh: "\e922";
$eu-icon-search: "\e923";
$eu-icon-sidebar-view: "\e924";
$eu-icon-slots: "\e925";
$eu-icon-sport: "\e926";
$eu-icon-table: "\e927";
$eu-icon-tel: "\e928";
$eu-icon-two-game: "\e929";
$eu-icon-user: "\e92a";
$eu-icon-warning: "\e92b";
$eu-icon-smile: "\e92c";
$eu-icon-bar-chart: "\e92d";
$eu-icon-wifi: "\e92e";
$eu-icon-key: "\e92f";
$eu-icon-equalizer: "\e930";
$eu-icon-credit-card: "\e931";
$eu-icon-share: "\e932";
$eu-icon-loading: "\e933";
$eu-icon-link: "\e934";
$eu-icon-broken-link: "\e935";
$eu-icon-smile-extra: "\e936";
$eu-icon-crop: "\e937";
$eu-icon-sad: "\e938";
$eu-icon-cursor: "\e939";
$eu-icon-move: "\e93a";
$eu-icon-cloud-computing-down: "\e93b";
$eu-icon-cloud-computing-up: "\e93c";
$eu-icon-star: "\e93d";
$eu-icon-briefcase: "\e93e";
$eu-icon-cancel: "\e93f";
$eu-icon-shield: "\e940";
$eu-icon-calculator: "\e941";
$eu-icon-photo-camera: "\e942";
$eu-icon-cut-dashed: "\e943";
$eu-icon-shuffle: "\e944";
$eu-icon-compass: "\e945";
$eu-icon-minus: "\e946";
$eu-icon-plus: "\e947";
$eu-icon-file: "\e948";
$eu-icon-expand: "\e949";
$eu-icon-earth-grid: "\e94a";
$eu-icon-justify: "\e94b";
$eu-icon-copy: "\e94c";
$eu-icon-tag: "\e94d";
$eu-icon-minimize: "\e94e";
$eu-icon-clip: "\e94f";
$eu-icon-information: "\e950";
$eu-icon-log-out1: "\e951";
$eu-icon-align-left: "\e952";
$eu-icon-pin: "\e953";
$eu-icon-refresh1: "\e954";
$eu-icon-filter: "\e955";
$eu-icon-pencil: "\e956";
$eu-icon-log-in: "\e957";
$eu-icon-reply-all: "\e958";
$eu-icon-reply: "\e959";
$eu-icon-silence: "\e95a";
$eu-icon-email-down: "\e95b";
$eu-icon-email-up: "\e95c";
$eu-icon-alarm-ringing: "\e95d";
$eu-icon-qr-code: "\e95e";
$eu-icon-dashboard: "\e95f";
$eu-icon-headphones: "\e960";
$eu-icon-target: "\e961";
$eu-icon-smartphone: "\e962";
$eu-icon-screenshot: "\e963";
$eu-icon-question: "\e964";
$eu-icon-push-pin: "\e965";
$eu-icon-flag: "\e966";
$eu-icon-video-camera: "\e967";
$eu-icon-music: "\e968";
$eu-icon-printer: "\e969";
$eu-icon-paste: "\e96a";
$eu-icon-microphone-mute: "\e96b";
$eu-icon-straight: "\e96c";
$eu-icon-surprise: "\e96d";
$eu-icon-trash-open: "\e96e";
$eu-icon-trash: "\e96f";
$eu-icon-phone-call-cancelled: "\e970";
$eu-icon-phone-call: "\e971";
$eu-icon-eraser: "\e972";
$eu-icon-thunderbolt: "\e973";
$eu-icon-snowflake: "\e974";
$eu-icon-home: "\e975";
$eu-icon-microphone: "\e976";
$eu-icon-upload: "\e977";
$eu-icon-download: "\e978";
$eu-icon-medal: "\e979";
$eu-icon-open-lock: "\e97a";
$eu-icon-check: "\e97b";
$eu-icon-followers: "\e97c";
$eu-icon-bookmark: "\e97d";
$eu-icon-sound-mute: "\e97e";
$eu-icon-volume: "\e97f";
$eu-icon-email: "\e980";
$eu-icon-chat: "\e981";
$eu-icon-alarm: "\e982";
$eu-icon-edit: "\e983";
$eu-icon-calendar: "\e984";
$eu-icon-hourglass: "\e985";
$eu-icon-wall-clock: "\e986";
$eu-icon-padlock: "\e987";
$eu-icon-arrow-down: "\e988";
$eu-icon-arrow-up: "\e989";
$eu-icon-calendar1: "\e98a";
$eu-icon-eye-closed: "\e98b";
$eu-icon-eye-opened: "\e98c";
$eu-icon-globe: "\e98d";
$eu-icon-icon-notification-ringing: "\e98e";
$eu-icon-logout: "\e98f";
$eu-icon-rounded-lock: "\e990";
$eu-icon-royal: "\e991";
$eu-icon-settings: "\e992";

