$eb-icons-font-family: "eb-icons" !default;
$eb-icons-font-path: "/assets/fonts/eb-icons" !default;

$eb-icon-not-verify-path1: "\e900";
$eb-icon-not-verify-path2: "\e901";
$eb-icon-not-verify-white-path1: "\e902";
$eb-icon-not-verify-white-path2: "\e903";
$eb-icon-verify-success-path1: "\e904";
$eb-icon-verify-success-path2: "\e905";
$eb-icon-monitor: "\e906";
$eb-icon-armchair: "\e907";
$eb-icon-arrow-left: "\e908";
$eb-icon-arrow-right: "\e909";
$eb-icon-blackjack: "\e90a";
$eb-icon-bonus: "\e90b";
$eb-icon-bonus-game: "\e90c";
$eb-icon-by-bonus: "\e90d";
$eb-icon-casino: "\e90e";
$eb-icon-cross: "\e90f";
$eb-icon-fast-deposit: "\e910";
$eb-icon-four-game: "\e911";
$eb-icon-full-creen: "\e912";
$eb-icon-full-view: "\e913";
$eb-icon-history: "\e914";
$eb-icon-jackpot: "\e915";
$eb-icon-like: "\e916";
$eb-icon-like-heart: "\e917";
$eb-icon-like-heart-outline: "\e918";
$eb-icon-log-out: "\e919";
$eb-icon-messenger: "\e91a";
$eb-icon-messenger-writing: "\e91b";
$eb-icon-new: "\e91c";
$eb-icon-new-window: "\e91d";
$eb-icon-notification: "\e91e";
$eb-icon-one-game: "\e91f";
$eb-icon-phone: "\e920";
$eb-icon-promo: "\e921";
$eb-icon-refresh: "\e922";
$eb-icon-search: "\e923";
$eb-icon-sidebar-view: "\e924";
$eb-icon-slots: "\e925";
$eb-icon-sport: "\e926";
$eb-icon-table: "\e927";
$eb-icon-tel: "\e928";
$eb-icon-two-game: "\e929";
$eb-icon-user: "\e92a";
$eb-icon-warning: "\e92b";
$eb-icon-smile: "\e92c";
$eb-icon-bar-chart: "\e92d";
$eb-icon-wifi: "\e92e";
$eb-icon-key: "\e92f";
$eb-icon-equalizer: "\e930";
$eb-icon-credit-card: "\e931";
$eb-icon-share: "\e932";
$eb-icon-loading: "\e933";
$eb-icon-link: "\e934";
$eb-icon-broken-link: "\e935";
$eb-icon-smile-extra: "\e936";
$eb-icon-crop: "\e937";
$eb-icon-sad: "\e938";
$eb-icon-cursor: "\e939";
$eb-icon-move: "\e93a";
$eb-icon-cloud-computing-down: "\e93b";
$eb-icon-cloud-computing-up: "\e93c";
$eb-icon-star: "\e93d";
$eb-icon-briefcase: "\e93e";
$eb-icon-cancel: "\e93f";
$eb-icon-shield: "\e940";
$eb-icon-calculator: "\e941";
$eb-icon-photo-camera: "\e942";
$eb-icon-cut-dashed: "\e943";
$eb-icon-shuffle: "\e944";
$eb-icon-compass: "\e945";
$eb-icon-minus: "\e946";
$eb-icon-plus: "\e947";
$eb-icon-file: "\e948";
$eb-icon-expand: "\e949";
$eb-icon-earth-grid: "\e94a";
$eb-icon-justify: "\e94b";
$eb-icon-copy: "\e94c";
$eb-icon-tag: "\e94d";
$eb-icon-minimize: "\e94e";
$eb-icon-clip: "\e94f";
$eb-icon-information: "\e950";
$eb-icon-log-out1: "\e951";
$eb-icon-align-left: "\e952";
$eb-icon-pin: "\e953";
$eb-icon-refresh1: "\e954";
$eb-icon-filter: "\e955";
$eb-icon-pencil: "\e956";
$eb-icon-log-in: "\e957";
$eb-icon-reply-all: "\e958";
$eb-icon-reply: "\e959";
$eb-icon-silence: "\e95a";
$eb-icon-email-down: "\e95b";
$eb-icon-email-up: "\e95c";
$eb-icon-alarm-ringing: "\e95d";
$eb-icon-qr-code: "\e95e";
$eb-icon-dashboard: "\e95f";
$eb-icon-headphones: "\e960";
$eb-icon-target: "\e961";
$eb-icon-smartphone: "\e962";
$eb-icon-screenshot: "\e963";
$eb-icon-question: "\e964";
$eb-icon-push-pin: "\e965";
$eb-icon-flag: "\e966";
$eb-icon-video-camera: "\e967";
$eb-icon-music: "\e968";
$eb-icon-printer: "\e969";
$eb-icon-paste: "\e96a";
$eb-icon-microphone-mute: "\e96b";
$eb-icon-straight: "\e96c";
$eb-icon-surprise: "\e96d";
$eb-icon-trash-open: "\e96e";
$eb-icon-trash: "\e96f";
$eb-icon-phone-call-cancelled: "\e970";
$eb-icon-phone-call: "\e971";
$eb-icon-eraser: "\e972";
$eb-icon-thunderbolt: "\e973";
$eb-icon-snowflake: "\e974";
$eb-icon-home: "\e975";
$eb-icon-microphone: "\e976";
$eb-icon-upload: "\e977";
$eb-icon-download: "\e978";
$eb-icon-medal: "\e979";
$eb-icon-open-lock: "\e97a";
$eb-icon-check: "\e97b";
$eb-icon-followers: "\e97c";
$eb-icon-bookmark: "\e97d";
$eb-icon-sound-mute: "\e97e";
$eb-icon-volume: "\e97f";
$eb-icon-email: "\e980";
$eb-icon-chat: "\e981";
$eb-icon-alarm: "\e982";
$eb-icon-edit: "\e983";
$eb-icon-calendar: "\e984";
$eb-icon-hourglass: "\e985";
$eb-icon-wall-clock: "\e986";
$eb-icon-padlock: "\e987";
$eb-icon-arrow-down: "\e988";
$eb-icon-arrow-up: "\e989";
$eb-icon-calendar1: "\e98a";
$eb-icon-eye-closed: "\e98b";
$eb-icon-eye-opened: "\e98c";
$eb-icon-globe: "\e98d";
$eb-icon-icon-notification-ringing: "\e98e";
$eb-icon-logout: "\e98f";
$eb-icon-rounded-lock: "\e990";
$eb-icon-royal: "\e991";
$eb-icon-settings: "\e992";

