@import "abstracts/variables";

$eb-range-primary: $primary;
$eb-range-grey: $color-grey;
$eb-range-medium-grey: $color-medium-grey;
$eb-range-white: $color-white;
$eb-range-red: $element-color-red;
$eb-range-medium-black: $color-medium-black;
$eb-range-light-primary: $light-primary;

:host {
  display: block;
}

.eb-range-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.eb-range-fields-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
}

.eb-range-input-bars-wrapper {
  position: relative;
}

/*  Tooltip css */
.eb-range-tooltip-range {
  padding-top: 45px;
}

.eb-range-tooltip-value {
  opacity: 0;
  display: none;
  position: absolute;
  top: 4px;
}

.eb-range-tooltip-range .eb-range-tooltip-value {
  display: block;
}

.eb-range-tooltip-value span {
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: $eb-range-primary;
  color: $eb-range-white;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
  padding: 2px 10px;
}

.eb-range-tooltip-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid $eb-range-primary;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  margin-top: -1px;
}

/* Input bars */

.eb-range-bars-container,
.eb-range-inputs-container {
  position: relative;
}

.eb-range-input-bar {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: $eb-range-white;
  position: absolute;
  margin: 2px 0;
  top: 10px;

  pointer-events: none;
}

.eb-range-fill-bar {
  background-color: $eb-range-primary;
  border-radius: 50px;
  width: 100%;
  display: block;
  height: 6px;
  top: 10px;
  position: absolute;
}


/* Inputs */

.eb-range-inputs-container {
  min-height: 25px;
}

.eb-range-input {
  -webkit-appearance: none !important;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  transition: all 0.3s ease;
  background-color: transparent;
  margin: 12px 0 23px 0;
  pointer-events: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

.eb-range-input:focus {
  outline: none;
}

.dominant-slider {
  z-index: 2;
}

.eb-range-input::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  pointer-events: all;
  -webkit-appearance: none !important;
  width: 18px;
  position: relative;
  height: 18px;
  background-color: $eb-range-primary;
  border-radius: 50%;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 2px darken($eb-range-medium-black, 5%);
  cursor: pointer;
  z-index: 1;
}

.eb-range-input::-moz-range-thumb {
  box-sizing: border-box;
  -webkit-appearance: none !important;
  width: 18px;
  height: 18px;
  background-color: $eb-range-primary;
  border-radius: 50%;
  transition: all 0.2s ease;
  border-color: transparent;
  box-shadow: 0px 0px 2px darken($eb-range-medium-black, 5%);
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

.eb-edge-input.eb-range-input::-moz-range-thumb {
  border-color: $eb-range-primary;
  border: 5px solid $eb-range-primary;
  background-color: $eb-range-white;
}

.eb-edge-input.eb-range-input::-webkit-slider-thumb {
  border-color: $eb-range-primary;
  border: 5px solid $eb-range-primary;
  background-color: $eb-range-white
}


/*Clear button*/
.eb-range-clear-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.eb-range-clear {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: $eb-range-primary;
  transition: color 0.25s ease;
  cursor: pointer;
  font-size: 14px;
  width: 60px;
}

.eb-range-clear:hover {
  color: $eb-range-light-primary;
}

.eb-range-error {
  color: $eb-range-red;
  font-size: 14px;
  margin-top: 10px;
}
