<div class="eu-inpt-container" [ngClass]="inptClass" [ngStyle]="inputContainerStyle">
  <input class="eu-inpt" [type]="type" [placeholder]="placeHolderValue" [(ngModel)]="value" [disabled]="disabled"
    [readonly]="readonly" (blur)="onBlur()" (focus)="onFocus()">
  <span class="eu-inpt-bar"></span>
  <div class="eu-inpt-icon-container prefix">
    <span [ngClass]="prefixIcon" [ngStyle]="iconStyle"></span>
  </div>
  <div class="eu-inpt-icon-container suffix">
    <span [ngClass]="suffixIcon" [ngStyle]="iconStyle"></span>
  </div>
  <div class="eu-inpt-img-container">
    <img [src]="prefixImg" class="eu-inpt-img"/>
  </div>
  <span *ngIf="clearable" class="eu-input-clear" [ngClass]="clearIconClass" (click)="onClearInput()"></span>
  <div class="eu-inpt-password-spec-container">
    <div class="eu-inpt-password-toggle-btn" (click)="togglePassVisibility()">
      <div class="eu-inpt-password-toggle-text">{{passVisibilityBtntext}}</div>
      <span [ngClass]="passVisibilityIcon"></span>
    </div>
    <div *ngIf="usePassStrength" class="eu-inpt-password-strength-container" [ngClass]="passStrengthClass">
      <div class="eu-inpt-password-strength-bar" *ngFor="let number of [0,1,2]"></div>
      <div class="eu-inpt-password-strength-text"></div>
    </div>
  </div>
  <label class="eu-inpt-label">{{label}}</label>
  <div *ngIf="showErrorMessage && showError" class="eu-inpt-error">{{errors[0]}}</div>
</div>
