<button class="eu-btn" [ngClass]="btnClass" [ngStyle]="btnStyle" [disabled]="disabled || loading"
  (mouseenter)="!disabled && mouseEnter($event)" (mouseleave)="!disabled && mouseLeave($event)" #btnElement>

  <div class="eu-btn-lds-ring" *ngIf="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span *ngIf="loading">&nbsp;</span>

  <span class="eu-btn-content-container" *ngIf="!loading">
    <span class="eu-btn-icon" [ngClass]="iconClass" *ngIf="iconClass"></span>
    <span *ngIf="text">{{text}}</span>

    <span>
      <ng-content></ng-content>
    </span>
  </span>

  <div class="eu-btn-circle-hover-wrapper" #hoverBackdrop *ngIf="!loading">
    <div class="eu-btn-circle-hover" #hoverBackdropCircle></div>
  </div>
</button>
<span class="eu-btn-label" [ngStyle]="labelStyle" *ngIf="label">{{ label }}</span>
