<button class="eu-btn" [ngClass]="styleClass" [disabled]="disabled" (mouseenter)="!disabled && mouseEnter($event)"
  (mouseleave)="!disabled && mouseLeave($event)" #btnElement>

  <!-- <div class="icon-container" *ngIf="icon">
    <i [ngClass]="icon"></i>
  </div> -->
  <span class="eu-btn-content-container">
    <span *ngIf="text">{{text}}</span>

    <ng-content *ngIf="!text && !icon"></ng-content>
  </span>

  <div class="circle-hover-wrapper" #hoverBackdrop>
    <div class="circle-hover" #hoverBackdropCircle></div>
  </div>
</button>
