@import "abstracts/variables";

$eu-btn-primary: $primary;
$eu-btn-secondary: $secondary;
$eu-btn-success: $color-success;
$eu-btn-error: $color-error;
$eu-btn-warning: $element-color-yellow;
$eu-btn-white: $color-white;
$eu-btn-disabled-background: $color-swamp;
$eu-btn-disabled-color: $color-dark-grey;

:host {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}

.eu-btn {
  display: inherit;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.25s ease;
}

.eu-btn:focus {
  outline: none;
}

.eu-btn:disabled {
  cursor: auto;
  background-color: $eu-btn-disabled-background;
  color: $eu-btn-disabled-color;
  border: none;
}

/// ----------------------------
/// Button sizes
/// ----------------------------
$eu-btn-paddings: (small: 8px,
  medium: 15px,
  large: 15px 30px);

$eu-btn-font-sizes: (small: 15px,
  medium: 15px,
  large: 22px);

@each $name,
$padding in $eu-btn-paddings {
  .eu-btn-size-#{$name} {
    padding: $padding;
    font-size: map-get($eu-btn-font-sizes, $name)
  }
}

/// ----------------------------
/// Button sizes
/// ----------------------------
$eu-btn-widthes: (small: 112px,
  medium: 180px,
  large: 270px,
  xlarge: 360px,
  full: 100%);

@each $name,
$size in $eu-btn-widthes {
  .eu-btn-width-#{$name} {
    width: $size;
  }
}

/// ----------------------------
/// Button colors
/// ----------------------------
$eu-btn-colors: (primary: $eu-btn-primary,
  secondary: $eu-btn-secondary,
  success: $eu-btn-success,
  error: $eu-btn-error,
  warning: $eu-btn-warning,
  white: $eu-btn-white);

@each $name,
$color in $eu-btn-colors {
  .eu-btn-color-#{$name} {
    background: $color;
    border-color: $color;
    color: $color;
  }
}

/// ----------------------------
/// Button types
/// ----------------------------
.eu-btn-type-default {
  border: none;
  color: white;
}

.eu-btn-type-outline {
  border: 1px solid;
  background-color: transparent;
}

.eu-btn-type-text {
  border: none;
  background: none;
}

/// ----------------------------
/// Button colors
/// ----------------------------
.eu-btn-content-left .eu-btn-content-container {
  float: left;
}

.eu-btn-content-right .eu-btn-content-container {
  float: right;
}

/// ----------------------------
/// Cirle hover
/// ----------------------------
.circle-hover {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(82, 82, 82, 0.25);
  transition: all 0.4s ease;
}

.circle-hover:active {
  background-color: rgba(82, 82, 82, 0.35);
}

.circle-hover-wrapper {
  position: absolute;
}
