@import "abstracts/variables";

$eu-btn-primary: $primary;
$eu-btn-secondary: $secondary;
$eu-btn-success: $color-success;
$eu-btn-error: $color-error;
$eu-btn-warning: $element-color-yellow;
$eu-btn-white: $color-white;
$eu-btn-disabled-background: $color-swamp;
$eu-btn-disabled-color: $color-dark-grey;

:host {
  position: relative;
  font-size: 15px;
  font-weight: normal;
  color: $color-white;
}

.eu-btn {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.25s ease;
}

/// ----------------------------
/// Button sizes
/// ----------------------------
$eu-btn-paddings: (small: 8px 12px,
  medium: 15px 22px,
  large: 15px 32px);

$eu-btn-font-sizes: (small: 15px,
  medium: 15px,
  large: 22px);

$eu-btn-loader-sizes: (small: 22px,
  medium: 28px,
  large: 34px);

$eu-btn-rounded-sizes: (small: 36px,
  medium: 48px,
  large: 58px);

@each $name,
$padding in $eu-btn-paddings {
  .eu-btn-size-#{"" + $name} {
    padding: $padding;
    font-size: map-get($eu-btn-font-sizes, $name);
  }

  .eu-btn-size-#{"" + $name} .eu-btn-lds-ring div {
    width: map-get($eu-btn-loader-sizes, $name);
    height: map-get($eu-btn-loader-sizes, $name);
    margin-top: calc(-1 * #{map-get($eu-btn-loader-sizes, $name)} / 2);
    margin-left: calc(-1 * #{map-get($eu-btn-loader-sizes, $name)} / 2);
  }

  .eu-btn-size-#{"" + $name}.eu-btn-rounded {
    padding: 0;
    border-radius: 50%;
    width: map-get($eu-btn-rounded-sizes, $name);
    height: map-get($eu-btn-rounded-sizes, $name);
  }
}

/// ----------------------------
/// Button widthes
/// ----------------------------
$eu-btn-widthes: (small: 112px,
  medium: 180px,
  large: 270px,
  xlarge: 360px,
  full: 100%);

@each $name,
$size in $eu-btn-widthes {
  .eu-btn-width-#{"" + $name} {
    width: $size;
  }
}

/// ----------------------------
/// Button colors
/// ----------------------------
$eu-btn-colors: (primary: $eu-btn-primary,
  secondary: $eu-btn-secondary,
  success: $eu-btn-success,
  error: $eu-btn-error,
  warning: $eu-btn-warning,
  white: $eu-btn-white);

@each $name,
$color in $eu-btn-colors {
  .eu-btn-color-#{"" + $name} {
    background: $color;
    border-color: $color;
    color: $color;
  }

  .eu-btn-color-#{"" + $name}.eu-btn-type-default .eu-btn-lds-ring div {
    border-color: $color-white transparent transparent transparent;
  }

  .eu-btn-color-#{"" + $name}.eu-btn-type-text .eu-btn-lds-ring div {
    border-color: #{$color} transparent transparent transparent;
  }

  .eu-btn-color-#{"" + $name}.eu-btn-type-outline .eu-btn-lds-ring div {
    border-color: #{$color} transparent transparent transparent;
  }
}

/// ----------------------------
/// Button types
/// ----------------------------
.eu-btn-type-default {
  border: none;
  color: $color-white;
}

.eu-btn-type-outline {
  border: 1px solid;
  background-color: transparent;
}

.eu-btn-type-text {
  border: none;
  background: none;
}

/// ----------------------------
/// Content positions
/// ----------------------------
.eu-btn-content-left {
  text-align: center;
}

.eu-btn-content-left {
  text-align: left;
}

.eu-btn-content-right {
  text-align: right;
}

/// ----------------------------
/// Icons
/// ----------------------------
.eu-btn-icon {
  font-size: inherit;
}

/// ----------------------------
/// Cirle hover
/// ----------------------------
.eu-btn-circle-hover {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(82, 82, 82, 0.25);
  transition: all 0.4s ease;
}

.eu-btn-circle-hover:active {
  background-color: rgba(82, 82, 82, 0.35);
}

.eu-btn-circle-hover-wrapper {
  position: absolute;
}

/// ----------------------------
/// Loader
/// ----------------------------
.eu-btn-lds-ring {
  left: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.eu-btn-lds-ring div {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  animation: eu-btn-lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.eu-btn-lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.eu-btn-lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.eu-btn-lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes eu-btn-lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/// ----------------------------
/// Button label
/// ----------------------------
.eu-btn-label {
  position: absolute;
  top: -2px;
  right: -12px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: $eu-btn-primary;
  font-size: 12px;
}

/// ----------------------------
/// Button states
/// ----------------------------
.eu-btn:focus {
  outline: none;
}

.eu-btn-disabled {
  cursor: auto;
  background-color: $eu-btn-disabled-background;
  color: $eu-btn-disabled-color;
  border: none;
}

.eu-btn-loading {
  cursor: progress;
}
