<!-- <div class="eu-row">
    <div class="eu-col-xs-1 bla">
        <p style="word-break: break-all;">asdasdaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="eu-col-xs-2 bla">
        asdasdasd
    </div>
    <div class="eu-col-xs-3 bla">
        asdasdasd
    </div>
    <div class="eu-col-xs-4 bla">
        asdasd
    </div>
</div> -->
<div style="padding: 20px; background-color: rgba(23, 23, 24, 1); font-family: sans-serif;">

  <eu-button size="small" iconClass="eu-icon-armchair" color="primary" type="default" contentPosition="left">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" iconClass="eu-icon-armchair" color="error" type="outline" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" iconClass="eu-icon-armchair" color="success" type="text" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button size="medium" width="small" iconClass="eu-icon-armchair" color="error" type="default" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button (click)="mc($event)" size="large" width="small" iconClass="eu-icon-armchair" color="success" type="default" [loading]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button (click)="mc($event)" size="small" width="full" color="primary" type="outline">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" color="primary" type="text">
    Button
  </eu-button>
  <br><br>

  <eu-button size="medium" width="medium" iconClass="eu-icon-armchair" color="error" type="default">
      Button
    </eu-button>
    <br><br>
  <eu-button (click)="mc($event)" size="medium" iconClass="eu-icon-armchair" width="medium" color="primary" type="default" [disabled]="'true'">
    Button
  </eu-button>
  <br><br>
  <eu-button size="medium" width="medium" color="primary" type="outline">
    Button
  </eu-button>
  <br><br>
  <eu-button size="medium" width="medium" color="primary" type="text">
    Button
  </eu-button>
  <br><br>

  <eu-button size="large" width="large" color="primary" type="default">
    Button
  </eu-button>
  <br><br>
  <eu-button size="large" width="large" color="primary" type="outline">
    Button
  </eu-button>
  <br><br>
  <eu-button size="large" width="large" color="primary" type="text">
    Button
  </eu-button>
  <br><br>

  <eu-button size="small" color="white" type="default">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="medium" color="white" type="outline">
    Button
  </eu-button>
  <br><br>
  <eu-button size="small" width="small" color="white" type="text">
    Button
  </eu-button>
  <br><br>

  <!-- <eu-button [type]="'text'" [size]="'mini'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Text
    </eu-button>
    <br><br>
    <eu-button [type]="'primary'" [size]="'mini'" [position]="'center'">
        Primary
    </eu-button>
    <br><br>
    <eu-button [type]="'success'" [size]="'small'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Success
    </eu-button>
    <br><br>
    <eu-button [type]="'error'" [size]="'medium'" [position]="'center'" [icon]="'fa fa-warning'">
        Error
    </eu-button>
    <br><br>
    <eu-button [type]="'disabled'" [size]="'large'" [position]="'center'" [icon]="'fa fa-warning'">
        Disabled
    </eu-button>
    <br><br>
    <eu-button [type]="'outline'" [size]="'xlarge'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Outline
    </eu-button> -->

    <eu-label color="primary" textColor="white" size="small" type="default">3</eu-label>
    <br><br>
    <eu-label color="primary" textColor="white" size="small" type="default">New</eu-label>
    <br><br>
    <eu-label color="primary" textColor="white" size="medium" type="default">New</eu-label>
    <br><br>
    <eu-label color="primary" textColor="white" size="large" type="default">New</eu-label>
    <br><br>
    <eu-label color="secondary" textColor="grey" size="large" type="default">Promo</eu-label>
    <br><br>
    <eu-label color="secondary" textColor="grey" size="large" type="round">Promo</eu-label>
    <br><br>
    <eu-label color="success" textColor="white" size="medium" type="default">Buy Bonus</eu-label>
    <br><br>
    <eu-label color="success" textColor="white" size="large" type="round">Buy Bonus</eu-label>
    <br><br>
    <eu-label color="warning" textColor="black" size="large" type="default">Buy Bonus</eu-label>
    <br><br>
    <eu-label color="secondary" textColor="grey" size="large" type="round">Buy Bonus Buy</eu-label>
    <br><br>
    <eu-label color="error" textColor="white" size="large" type="round" iconClass="eu-icon-armchair">Buy Bonus Buy ₾</eu-label>
</div>
