<!-- <div class="eu-row">
    <div class="eu-col-xs-1 bla">
        <p style="word-break: break-all;">asdasdaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="eu-col-xs-2 bla">
        asdasdasd
    </div>
    <div class="eu-col-xs-3 bla">
        asdasdasd
    </div>
    <div class="eu-col-xs-4 bla">
        asdasd
    </div>
</div> -->
<div style="padding: 20px; background-color: rgba(23, 23, 24, 1); font-family: sans-serif;">

  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="blue" textColor="black" type="default"
    contentPosition="left">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="blue" type="outline" [width]="400">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="blue" type="text" contentPosition="center">
  </eu-button>
  &nbsp; &nbsp; &nbsp;

  <br><br>

  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="secondary" type="default"
    contentPosition="left" [label]="4" labelColor="red" labelTextColor="black">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button size="small" iconClass="eu-icon-armchair" color="secondary" type="default" [rounded]="'true'" label="4">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="primary" type="default"
    contentPosition="left">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button size="small" iconClass="eu-icon-armchair" color="primary" type="default" [rounded]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="outline"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="success" type="text"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="large" width="small" iconClass="eu-icon-armchair" color="success"
    type="default" [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="small" width="full" color="primary" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="medium" width="medium" iconClass="eu-icon-armchair" color="error" type="default"
    contentPosition="left">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button size="medium" width="medium" [rounded]="'true'" iconClass="eu-icon-armchair" color="secondary"
    type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="medium" iconClass="eu-icon-armchair" width="medium"
    color="primary" type="default" [disabled]="'true'">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button (click)="mc($event)" size="medium" iconClass="eu-icon-armchair" width="medium" color="primary"
    type="default" [disabled]="'true'" [rounded]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="medium" color="primary" type="outline">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button size="medium" width="medium" color="primary" type="outline" [rounded]="'true'">
    2
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="medium" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="large" width="large" color="primary" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="small" color="white" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="medium" color="white" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" color="white" type="text">
  </eu-button>
  <br><br>

  <!-- <eu-button text="button" [type]="'text'" [size]="'mini'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Text
    </eu-button>
    <br><br>
    <eu-button text="button" [type]="'primary'" [size]="'mini'" [position]="'center'">
        Primary
    </eu-button>
    <br><br>
    <eu-button text="button" [type]="'success'" [size]="'small'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Success
    </eu-button>
    <br><br>
    <eu-button text="button" [type]="'error'" [size]="'medium'" [position]="'center'" [icon]="'fa fa-warning'">
        Error
    </eu-button>
    <br><br>
    <eu-button text="button" [type]="'disabled'" [size]="'large'" [position]="'center'" [icon]="'fa fa-warning'">
        Disabled
    </eu-button>
    <br><br>
    <eu-button text="button" [type]="'outline'" [size]="'xlarge'" [position]="'center'" [icon]="'fa fa-check-circle'">
        Outline
    </eu-button> -->

  <eu-label color="primary" textColor="white" size="small" type="default">3</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="small" type="default">New</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="medium" type="default">New</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="large" type="default">New</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="default">Promo</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="round">Promo</eu-label>
  <br><br>
  <eu-label color="success" textColor="white" size="medium" type="default">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="success" textColor="white" size="large" type="round">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="warning" textColor="black" size="large" type="default">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="round">Buy Bonus Buy</eu-label>
  <br><br>
  <eu-label color="error" textColor="white" size="large" type="round" iconClass="eu-icon-armchair">Buy Bonus Buy ₾
  </eu-label>
  <br>
  <br>
    <eu-label color="blue" textColor="red" size="small" type="default" iconClass="eu-icon-armchair">Buy Bonus Buy ₾
    </eu-label>
    <br><br>
    <eu-label color="blue" textColor="red" size="medium" type="default" iconClass="eu-icon-armchair">Buy Bonus Buy ₾
    </eu-label>
    <br><br>
    <eu-label color="blue" textColor="red" size="large" type="default" iconClass="eu-icon-armchair">Buy Bonus Buy ₾
    </eu-label>

    <br><br>
    <br><br>
    <form [formGroup]="myForm">
      <eu-input id="username" formControlName="username" required type="text" label="Name" iconClass="eu-icon-user"></eu-input><br>
      <eu-input id="disabledUsername" formControlName="disabledUsername" required type="text" label="Disabled" iconClass="eu-icon-user"></eu-input><br>
      <eu-input id="password" formControlName="password" required type="password" label="Password" iconClass="eu-icon-rounded-lock"></eu-input><br>
      <eu-input id="password" formControlName="password" required type="password" label="Password" iconClass="eu-icon-rounded-lock" passStrength="weak"></eu-input><br>
      <eu-input id="password" formControlName="password" required type="password" label="Password" iconClass="eu-icon-rounded-lock" passStrength="soso"></eu-input><br>
      <eu-input id="password" formControlName="password" required type="password" label="Password" iconClass="eu-icon-rounded-lock" passStrength="strong"></eu-input><br>
      <eu-input id="password" formControlName="password" required type="password" label="Password" iconClass="eu-icon-rounded-lock" error="Error text"></eu-input><br>
      <eu-input id="errorPassword" formControlName="errorPassword" required type="text" label="Invalid" error="Error text"></eu-input>
    </form>
    <br>
    <!-- <div style="color: grey;">Input value : {{username.value}}</div> -->
    <br>
</div>
