<div class="eb-acmplt-container" [ngStyle]="inputAutocmpltStyle">
  <eb-input [label]="label" (inputFocus)="onFocus()" [(ngModel)]="ngInputValue" (click)="$event.stopPropagation()"
    minHeight="50" [placeHolder]="placeHolder" [prefixIcon]="prefixIcon" [suffixIcon]="suffixIcon" [clearable]="clearable" [disabled]="disabled"></eb-input>
  <div *ngIf="showDropdown" class="eb-acmplt-options-container" [ngClass]="optionsClass">
    <div class="eb-acmplt-scroll-wrapper">
      <div *ngFor="let item of innerItems" class="eb-acmplt-option" (click)="choose(item)">
        <span class="eb-acmplt-option-text">{{getDisplayName(item)}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="showError" class="eb-acmplt-error">{{errors[0]}}</div>
</div>
