<div style="padding: 50px; background-color: rgba(23, 23, 24, 1); font-family: sans-serif;">
  <div style="color: white;">
    <i class="eb-icon-armchair"></i>
  </div>
  <br>
  <br>
  <eb-button text="button" size="small" iconClass="eb-icon-armchair" color="secondary" type="default"
    contentPosition="left" [label]="4" labelColor="red" labelTextColor="black">
  </eb-button>
  &nbsp; &nbsp; &nbsp;
  <eb-button size="small" iconClass="eb-icon-armchair" color="secondary" type="default" [rounded]="'true'" label="4">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" iconClass="eb-icon-armchair" color="primary" type="default"
    contentPosition="left">
  </eb-button>
  <br><br>
  <eb-button ebTooltip [ebTooltipOptions]='{
      text: "dddaas",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "top"
    }' text="button" size="small" iconClass="eb-icon-armchair" color="secondary" type="default" contentPosition="left"
    [label]="4" labelColor="red" labelTextColor="secondary">
  </eb-button>
  &nbsp; &nbsp; &nbsp;
  <eb-button ebTooltip [ebTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "left"
    }' size="small" iconClass="eb-icon-armchair" color="secondary" type="default" [rounded]="'true'" label="4">
  </eb-button>
  <br><br>
  <eb-button ebTooltip [ebTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "right"
    }' text="button" size="small" iconClass="eb-icon-armchair" color="primary" type="default" contentPosition="left">
  </eb-button>
  &nbsp; &nbsp; &nbsp;
  <eb-button ebTooltip [ebTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "bottom"
    }' size="small" iconClass="eb-icon-armchair" color="primary" type="default" [rounded]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" iconClass="eb-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" iconClass="eb-icon-armchair" color="error" type="outline"
    [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" iconClass="eb-icon-armchair" color="success" type="text"
    [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" iconClass="eb-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="medium" width="small" iconClass="eb-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" (click)="mc($event)" size="large" width="small" iconClass="eb-icon-armchair" color="success"
    type="default" [loading]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" (click)="mc($event)" size="small" width="full" color="primary" type="outline">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" color="primary" type="text">
  </eb-button>
  <br><br>

  <eb-button text="button" size="medium" width="medium" iconClass="eb-icon-armchair" color="error" type="default"
    contentPosition="left">
  </eb-button>
  &nbsp;&nbsp;
  <eb-button size="medium" width="medium" [rounded]="'true'" iconClass="eb-icon-armchair" color="secondary"
    type="default">
  </eb-button>
  <br><br>
  <eb-button text="button" (click)="mc($event)" size="medium" iconClass="eb-icon-armchair" width="medium"
    color="primary" type="default" [disabled]="'true'">
  </eb-button>
  &nbsp;&nbsp;
  <eb-button (click)="mc($event)" size="medium" iconClass="eb-icon-armchair" width="medium" color="primary"
    type="default" [disabled]="'true'" [rounded]="'true'">
  </eb-button>
  <br><br>
  <eb-button text="button" size="medium" width="medium" color="primary" type="outline">
  </eb-button>
  &nbsp;&nbsp;
  <eb-button size="medium" width="medium" color="primary" type="outline" [rounded]="'true'">
    2
  </eb-button>
  <br><br>
  <eb-button text="button" size="medium" width="medium" color="primary" type="text">
  </eb-button>
  <br><br>

  <eb-button text="button" size="large" width="large" color="primary" type="default">
  </eb-button>
  <br><br>
  <eb-button text="button" size="large" width="large" color="primary" type="outline">
  </eb-button>
  <br><br>
  <eb-button text="button" size="large" width="large" color="primary" type="text">
  </eb-button>
  <br><br>

  <eb-button text="button" size="small" color="white" type="default">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="medium" color="white" type="outline">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" color="white" type="text">
  </eb-button>
  <br><br>

  <eb-button text="button" size="large" width="large" color="primary" type="default">
  </eb-button>
  <br><br>
  <eb-button text="button" size="large" width="large" color="primary" type="outline">
  </eb-button>
  <br><br>
  <eb-button text="button" size="large" width="large" color="primary" type="text">
  </eb-button>
  <br><br>

  <eb-button text="button" size="small" color="white" type="default">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="medium" color="white" type="outline">
  </eb-button>
  <br><br>
  <eb-button text="button" size="small" width="small" color="white" type="text">
  </eb-button>
  <br><br>

  <eb-label color="primary" textColor="white" size="small" type="default">3</eb-label>
  <br><br>
  <eb-label color="primary" textColor="white" size="small" type="default">New</eb-label>
  <br><br>
  <eb-label color="primary" textColor="white" size="medium" type="default">New</eb-label>
  <br><br>
  <eb-label color="primary" textColor="white" size="large" type="default">New</eb-label>
  <br><br>
  <eb-label color="secondary" textColor="grey" size="large" type="default">Promo</eb-label>
  <br><br>
  <eb-label color="secondary" textColor="grey" size="large" type="round">Promo</eb-label>
  <br><br>
  <eb-label color="success" textColor="white" size="medium" type="default">Buy Bonus</eb-label>
  <br><br>
  <eb-label color="success" textColor="white" size="large" type="round">Buy Bonus</eb-label>
  <br><br>
  <eb-label color="warning" textColor="black" size="large" type="default">Buy Bonus</eb-label>
  <br><br>
  <eb-label color="secondary" textColor="grey" size="large" type="round">Buy Bonus Buy</eb-label>
  <br><br>
  <eb-label color="error" textColor="white" size="large" type="round" prefixIcon="eb-icon-armchair">Buy Bonus Buy ₾
  </eb-label>
  <br>
  <br>
  <eb-label color="blue" textColor="red" size="small" type="default" prefixIcon="eb-icon-armchair">Buy Bonus Buy ₾
  </eb-label>
  <br><br>
  <eb-label color="blue" textColor="red" size="medium" type="default" prefixIcon="eb-icon-armchair">Buy Bonus Buy ₾
  </eb-label>
  <br><br>
  <eb-label color="blue" textColor="red" size="large" type="default" prefixIcon="eb-icon-armchair">Buy Bonus Buy ₾
  </eb-label>

  <br><br>
  <br><br>
  <form [formGroup]="myForm" id="myForm">
    <eb-input formControlName="email" type="email" label="Email" prefixIcon="eb-icon-user"
      [errorMessages]="errorMessages" width="320" [minHeight]="'auto'" placeHolder="Enter username"></eb-input><br><br>
    <eb-input formControlName="email2" type="email" label="Email" prefixIcon="eb-icon-user" suffixIcon="eb-icon-alarm"
      [errorMessages]="errorMessages" width="320" [minHeight]="'auto'" placeHolder="Enter username"></eb-input><br><br>
    <eb-input formControlName="username" type="text" label="Name" prefixIcon="eb-icon-user"
      [errorMessages]="errorMessages"></eb-input><br><br>
    <eb-input formControlName="number" width="200" type="number" label="" prefixIcon="eb-icon-user" [clearable]="true">
    </eb-input><br><br>
    <eb-input formControlName="disabledUsername" type="text" label="Disabled" prefixIcon="eb-icon-user"></eb-input>
    <br><br>
    <eb-input formControlName="password" type="password" label="Password" prefixIcon="eb-icon-rounded-lock">
    </eb-input><br><br>
    <eb-input formControlName="password1" type="password" label="Password" prefixIcon="eb-icon-rounded-lock"
      passStrength="default">
    </eb-input><br><br>
    <eb-input formControlName="password2" type="password" label="Password" prefixIcon="eb-icon-rounded-lock"
      passStrength="weak"></eb-input><br><br>
    <eb-input formControlName="password3" type="password" label="Password" prefixIcon="eb-icon-rounded-lock"
      passStrength="soso"></eb-input><br><br>
    <eb-input formControlName="password4" type="password" label="Password" prefixIcon="eb-icon-rounded-lock"
      passStrength="strong"></eb-input><br><br>
    <eb-input formControlName="errorPassword" type="text" label="Invalid"></eb-input>
    &nbsp;&nbsp;
    <br><br>
    <eb-textarea width="320" [minHeight]="100" formControlName="textarea1" label="Textarea"></eb-textarea><br><br>
    <eb-textarea formControlName="textarea2" label="Textarea" [required]="true"></eb-textarea><br><br>
    <eb-textarea formControlName="textarea3" label="Textarea"></eb-textarea><br><br>

    <div class="eb-vertically-center-area">
      <eb-checkbox formControlName="checkbox1" label="Checkbox checked" minHeight="auto"></eb-checkbox>
      &nbsp;
      <eb-label size="small" type="default">new
      </eb-label>
    </div>
    <br>
    <eb-checkbox formControlName="checkbox2" label="Disabled"></eb-checkbox> <br>
    <eb-checkbox formControlName="checkbox3" label="Checkbox not checked"></eb-checkbox> <br>
    <eb-checkbox formControlName="checkbox4" label="Error" [errorMessages]="errorMessages"></eb-checkbox>
    <br><br><br>

    <eb-toggle minHeight="auto" formControlName="toggle1" label="Toggle checked"></eb-toggle><br>
    <eb-toggle formControlName="toggle2" label="Disabled"></eb-toggle><br>
    <eb-toggle formControlName="toggle3" label="Toggle not checked"></eb-toggle><br>
    <eb-toggle formControlName="toggle4" label="Error" [errorMessages]="errorMessages"></eb-toggle><br>
    <br><br>

    <div>
      <eb-radio style="vertical-align: sub" minHeight="auto" value="value1" formControlName="radio1" label="Option 1">
      </eb-radio>
      &nbsp;
      <eb-toggle minHeight="auto" formControlName="toggle1" label="Toggle checked"></eb-toggle>
      &nbsp;
      <eb-checkbox minHeight="auto" formControlName="checkbox1" label="Disabled"></eb-checkbox>
      &nbsp;
      <eb-label style="vertical-align: middle" size="small" type="default">new
      </eb-label>
    </div>
    <br>
    <br>
    <br>
    <eb-radio value="value2" formControlName="radio1" label="Option 2"></eb-radio><br>
    <eb-radio value="value3" formControlName="radio1" label="Option 3"></eb-radio><br>
    <eb-radio value="value4" formControlName="radio1" label="Option 4"></eb-radio>
    <br><br>
    <eb-slider formControlName="slider1" min="100" max="10000" step="5" valueSuffix="₾" width="500" padding="20"
      [showTooltip]="true" [errorMessages]="errorMessages" minHeight="auto">
    </eb-slider><br><br>


    <br><br>
    <div style="display: flex;">
      <eb-range formControlName="range1" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showTooltip]="true" minFieldLabel="Min. range" maxFieldLabel="Max. range" [errorMessages]="errorMessages">
      </eb-range>
      <eb-range formControlName="range2" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showInputs]="true" [showClear]="true" minFieldLabel="Min. range" maxFieldLabel="Max. range"
        [errorMessages]="errorMessages"></eb-range>
      <eb-range formControlName="range3" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showInputs]="true" [showTooltip]="true" [showClear]="true" minFieldLabel="Min. range"
        maxFieldLabel="Max. range" [errorMessages]="errorMessages"></eb-range>
    </div>
    <br><br>

    <eb-autocomplete formControlName="autocomplete1" width="320" [items]="countries" [errorMessages]="errorMessages"
      minHeight="100" placeHolder="Choose your hero" label="Countries" prefixIcon="eb-icon-globe" ></eb-autocomplete>
    <br><br>

    <eb-select formControlName="select1" width="320" [items]="countries" [errorMessages]="errorMessages"
      minHeight="100" placeHolder="Choose your hero" label="Credit cards" suffixIcon="eb-icon-arrow-down" 
      actionLabel="Add new card" actionIcon="eb-icon-plus"></eb-select>
    <!-- <p style="color: aliceblue;">{{select.value | json}}</p> -->
    <br><br>

    <button (click)="formsm()">Submit</button>
  </form>
  <br><br>


  <div class="eb-row">
    <div class="eb-col-xs-4">
      <eb-column-menu [items]="columnMenuItems"></eb-column-menu>
    </div>
  </div>

  <br>
  <br>

  <div class="eb-row">
    <div class="eb-col-xs-4">
      <eb-column-menu [items]="columnMenuItems2"></eb-column-menu>
    </div>
  </div>


  <br><br>

 <div>
  <eb-column-icon-options [items]="columnIconItems"></eb-column-icon-options>
 </div>

  <br>
  <br>

  <eb-accordion [items]="accordionItems"></eb-accordion>
</div>
