<div style="padding: 50px; background-color: rgba(23, 23, 24, 1); font-family: sans-serif;">

  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="secondary" type="default"
    contentPosition="left" [label]="4" labelColor="red" labelTextColor="black">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button size="small" iconClass="eu-icon-armchair" color="secondary" type="default" [rounded]="'true'" label="4">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" iconClass="eu-icon-armchair" color="primary" type="default"
    contentPosition="left">
  </eu-button>
  <br><br>
  <eu-button euTooltip [euTooltipOptions]='{
      text: "dddaas",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "top"
    }' text="button" size="small" iconClass="eu-icon-armchair" color="secondary" type="default" contentPosition="left"
    [label]="4" labelColor="red" labelTextColor="secondary">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button euTooltip [euTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "left"
    }' size="small" iconClass="eu-icon-armchair" color="secondary" type="default" [rounded]="'true'" label="4">
  </eu-button>
  <br><br>
  <eu-button euTooltip [euTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "right"
    }' text="button" size="small" iconClass="eu-icon-armchair" color="primary" type="default" contentPosition="left">
  </eu-button>
  &nbsp; &nbsp; &nbsp;
  <eu-button euTooltip [euTooltipOptions]='{
      text: "ssssssssss",
      backgroundColor: "secondary",
      textColor: "white",
      maxWidth: 200,
      position: "bottom"
    }' size="small" iconClass="eu-icon-armchair" color="primary" type="default" [rounded]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="outline"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="success" type="text"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="small" iconClass="eu-icon-armchair" color="error" type="default"
    [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="large" width="small" iconClass="eu-icon-armchair" color="success"
    type="default" [loading]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="small" width="full" color="primary" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="medium" width="medium" iconClass="eu-icon-armchair" color="error" type="default"
    contentPosition="left">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button size="medium" width="medium" [rounded]="'true'" iconClass="eu-icon-armchair" color="secondary"
    type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" (click)="mc($event)" size="medium" iconClass="eu-icon-armchair" width="medium"
    color="primary" type="default" [disabled]="'true'">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button (click)="mc($event)" size="medium" iconClass="eu-icon-armchair" width="medium" color="primary"
    type="default" [disabled]="'true'" [rounded]="'true'">
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="medium" color="primary" type="outline">
  </eu-button>
  &nbsp;&nbsp;
  <eu-button size="medium" width="medium" color="primary" type="outline" [rounded]="'true'">
    2
  </eu-button>
  <br><br>
  <eu-button text="button" size="medium" width="medium" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="large" width="large" color="primary" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="small" color="white" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="medium" color="white" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" color="white" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="large" width="large" color="primary" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="large" width="large" color="primary" type="text">
  </eu-button>
  <br><br>

  <eu-button text="button" size="small" color="white" type="default">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="medium" color="white" type="outline">
  </eu-button>
  <br><br>
  <eu-button text="button" size="small" width="small" color="white" type="text">
  </eu-button>
  <br><br>

  <eu-label color="primary" textColor="white" size="small" type="default">3</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="small" type="default">New</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="medium" type="default">New</eu-label>
  <br><br>
  <eu-label color="primary" textColor="white" size="large" type="default">New</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="default">Promo</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="round">Promo</eu-label>
  <br><br>
  <eu-label color="success" textColor="white" size="medium" type="default">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="success" textColor="white" size="large" type="round">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="warning" textColor="black" size="large" type="default">Buy Bonus</eu-label>
  <br><br>
  <eu-label color="secondary" textColor="grey" size="large" type="round">Buy Bonus Buy</eu-label>
  <br><br>
  <eu-label color="error" textColor="white" size="large" type="round" prefixIcon="eu-icon-armchair">Buy Bonus Buy ₾
  </eu-label>
  <br>
  <br>
  <eu-label color="blue" textColor="red" size="small" type="default" prefixIcon="eu-icon-armchair">Buy Bonus Buy ₾
  </eu-label>
  <br><br>
  <eu-label color="blue" textColor="red" size="medium" type="default" prefixIcon="eu-icon-armchair">Buy Bonus Buy ₾
  </eu-label>
  <br><br>
  <eu-label color="blue" textColor="red" size="large" type="default" prefixIcon="eu-icon-armchair">Buy Bonus Buy ₾
  </eu-label>

  <br><br>
  <br><br>
  <form [formGroup]="myForm" id="myForm">
    <eu-input formControlName="email" type="email" label="Email" prefixIcon="eu-icon-user"
      [errorMessages]="errorMessages" width="320" [minHeight]="'auto'" placeHolder="Enter username"></eu-input><br><br>
    <eu-input formControlName="email2" type="email" label="Email" prefixIcon="eu-icon-user" suffixIcon="eu-icon-alarm"
      [errorMessages]="errorMessages" width="320" [minHeight]="'auto'" placeHolder="Enter username"></eu-input><br><br>
    <eu-input formControlName="username" type="text" label="Name" prefixIcon="eu-icon-user"
      [errorMessages]="errorMessages"></eu-input><br><br>
    <eu-input formControlName="number" width="200" type="number" label="" prefixIcon="eu-icon-user" [clearable]="true">
    </eu-input><br><br>
    <eu-input formControlName="disabledUsername" type="text" label="Disabled" prefixIcon="eu-icon-user"></eu-input>
    <br><br>
    <eu-input formControlName="password" type="password" label="Password" prefixIcon="eu-icon-rounded-lock">
    </eu-input><br><br>
    <eu-input formControlName="password1" type="password" label="Password" prefixIcon="eu-icon-rounded-lock"
      passStrength="default">
    </eu-input><br><br>
    <eu-input formControlName="password2" type="password" label="Password" prefixIcon="eu-icon-rounded-lock"
      passStrength="weak"></eu-input><br><br>
    <eu-input formControlName="password3" type="password" label="Password" prefixIcon="eu-icon-rounded-lock"
      passStrength="soso"></eu-input><br><br>
    <eu-input formControlName="password4" type="password" label="Password" prefixIcon="eu-icon-rounded-lock"
      passStrength="strong"></eu-input><br><br>
    <eu-input formControlName="errorPassword" type="text" label="Invalid"></eu-input>
    &nbsp;&nbsp;
    <br><br>
    <eu-textarea width="320" [minHeight]="100" formControlName="textarea1" label="Textarea"></eu-textarea><br><br>
    <eu-textarea formControlName="textarea2" label="Textarea" [required]="true"></eu-textarea><br><br>
    <eu-textarea formControlName="textarea3" label="Textarea"></eu-textarea><br><br>

    <div class="eu-vertically-center-area">
      <eu-checkbox formControlName="checkbox1" label="Checkbox checked" minHeight="auto"></eu-checkbox>
      &nbsp;
      <eu-label size="small" type="default">new
      </eu-label>
    </div>
    <br>
    <eu-checkbox formControlName="checkbox2" label="Disabled"></eu-checkbox> <br>
    <eu-checkbox formControlName="checkbox3" label="Checkbox not checked"></eu-checkbox> <br>
    <eu-checkbox formControlName="checkbox4" label="Error" [errorMessages]="errorMessages"></eu-checkbox>
    <br><br><br>

    <eu-toggle minHeight="auto" formControlName="toggle1" label="Toggle checked"></eu-toggle><br>
    <eu-toggle formControlName="toggle2" label="Disabled"></eu-toggle><br>
    <eu-toggle formControlName="toggle3" label="Toggle not checked"></eu-toggle><br>
    <eu-toggle formControlName="toggle4" label="Error" [errorMessages]="errorMessages"></eu-toggle><br>
    <br><br>

    <div>
      <eu-radio style="vertical-align: sub" minHeight="auto" value="value1" formControlName="radio1" label="Option 1">
      </eu-radio>
      &nbsp;
      <eu-toggle minHeight="auto" formControlName="toggle1" label="Toggle checked"></eu-toggle>
      &nbsp;
      <eu-checkbox minHeight="auto" formControlName="checkbox1" label="Disabled"></eu-checkbox>
      &nbsp;
      <eu-label style="vertical-align: middle" size="small" type="default">new
      </eu-label>
    </div>
    <br>
    <br>
    <br>
    <eu-radio value="value2" formControlName="radio1" label="Option 2"></eu-radio><br>
    <eu-radio value="value3" formControlName="radio1" label="Option 3"></eu-radio><br>
    <eu-radio value="value4" formControlName="radio1" label="Option 4"></eu-radio>
    <br><br>
    <eu-slider formControlName="slider1" min="100" max="10000" step="5" valueSuffix="₾" width="500" padding="20"
      [showTooltip]="true" [errorMessages]="errorMessages" minHeight="auto">
    </eu-slider><br><br>


    <br><br>
    <div style="display: flex;">
      <eu-range formControlName="range1" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showTooltip]="true" minFieldLabel="Min. range" maxFieldLabel="Max. range" [errorMessages]="errorMessages">
      </eu-range>
      <eu-range formControlName="range2" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showInputs]="true" [showClear]="true" minFieldLabel="Min. range" maxFieldLabel="Max. range"
        [errorMessages]="errorMessages"></eu-range>
      <eu-range formControlName="range3" min="100" max="10000" step="5" minHeight="auto" padding="20" valueSuffix="₾"
        [showInputs]="true" [showTooltip]="true" [showClear]="true" minFieldLabel="Min. range"
        maxFieldLabel="Max. range" [errorMessages]="errorMessages"></eu-range>
    </div>
    <br><br>

    <app-eu-autocomplete formControlName="autocomplete1" width="320" [items]="countries" [errorMessages]="errorMessages"
      minHeight="100" placeHolder="Choose your hero" label="Countries" prefixIcon="eu-icon-globe" ></app-eu-autocomplete>
    <!-- <p style="color: aliceblue;">{{autocomplete.value | json}}</p> -->
    <br><br>

    <button (click)="formsm()">Submit</button>
  </form>
  <br><br>


  <div class="eu-row">
    <div class="eu-col-xs-4">
      <eu-column-menu [items]="columnMenuItems"></eu-column-menu>
    </div>
  </div>

  <br>
  <br>

  <div class="eu-row">
    <div class="eu-col-xs-4">
      <eu-column-menu [items]="columnMenuItems2"></eu-column-menu>
    </div>
  </div>


  <br><br>

  <eu-column-icon-options [items]="columnIconItems"></eu-column-icon-options>
</div>
