<div class="eu-range-container" [ngStyle]="containerStyle" [ngClass]="containerClass">
    <div class="eu-range-bars-container">
        <div class="eu-range-input-bar"></div>
        <div class="eu-range-fill-bar" [ngStyle]="slideBarStyle"></div>
        <div class="eu-range-tooltip-value" [ngStyle]="tooltipStyle"><span>{{tooltipPrefix}}{{ngValue}}{{tooltipSuffix}}</span></div>
    </div>
    <input class="eu-range-input" type="range" [step]="step" [(ngModel)]="ngValue" [min]="min" [max]="max" (ngModelChange)="change($event)" />
    <div class="eu-range-values">
        <div class="eu-range-min-value">{{tooltipPrefix}}{{min}}{{tooltipSuffix}}</div>
        <div class="eu-range-max-value">{{tooltipPrefix}}{{max}}{{tooltipSuffix}}</div>
    </div>
    <div *ngIf="showError" class="eu-range-error">{{errors[0]}}</div>
</div>
